
    <p>What I have:</p>

    <mat-form-field class="example-chip-list">


        <mat-label>My Ingredients</mat-label>

        <mat-chip-list #chipList aria-label="ingredient selection">
            <mat-chip
                *ngFor="let ingredient of ingredients"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(ingredient)">
                {{ingredient}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>

            
        </mat-chip-list>

        <br/>
        
        <input
                class="full-width"
                placeholder="Search ingredient..."
                #ingredientInput
                [formControl]="ingredientCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)">

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let ingredient of filteredIngredients | async" [value]="ingredient">
                {{ingredient}}
            </mat-option>
        </mat-autocomplete>
        
    </mat-form-field>

    <p>
        <button mat-raised-button color="warn" (click)="send()">Find me a cocktail</button>
    </p>
    
    