<p>Show me Cocktails</p>

<mat-form-field class="form-field">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name..." [(ngModel)]="name">
</mat-form-field>

<section>
    <mat-button-toggle-group [(ngModel)]="alcocholic" aria-label="Font Style">
      <mat-button-toggle value="alcoholic">Alhocholic</mat-button-toggle>
      <mat-button-toggle value="Non_alcoholic">Non-Alcoholic</mat-button-toggle>
      <mat-button-toggle value="Both">Both</mat-button-toggle>
    </mat-button-toggle-group>
</section>

<mat-form-field appearance="fill" class="form-field" style="margin-top:15px">
    <mat-label>drinkTypes</mat-label>
    <mat-select [formControl]="drinkTypes" multiple>
      <mat-select-trigger>
        {{drinkTypes.value ? drinkTypes.value[0] : ''}}
        <span *ngIf="drinkTypes.value?.length > 1" class="example-additional-selection">
          (+{{drinkTypes.value.length - 1}} {{drinkTypes.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let topping of allDrinkTypes" [value]="topping">{{topping}}</mat-option>
    </mat-select>
</mat-form-field>

<p style="margin-top: 10px;">
    <button mat-raised-button color="warn" (click)="send()">Search</button>
</p>
